

<div class="main-container">
	<div class="flex-split -left">
		<header>
			{{header-svg class="hero-svg"}}
		</header>
		{{#perfect-scroll}}
	
		<section>
			<h2 class="ui header">
				Contributions
			</h2>
			<div class="ui divided items">
				<div class="item">
					<div class="image">
						<img src="http://kush-team.com.ar/wp-content/uploads/2016/07/addon-logo.png">
					</div>
					<div class="content">
						<a class="header"  target="_blank" href="https://github.com/kush-team/ember-cli-to-wp-theme">ember-cli-to-wp-theme</a>
						<div class="meta">
							<a>status</a>
						</div>
						<div class="description">
							<p>Ember addon for creating ambitious web apps with a Wordpress backend</p>
						</div>
						<div class="extra content">
							<a class="github-button" href="https://github.com/kush-team/ember-cli-to-wp-theme" data-icon="octicon-star" data-style="mega" data-count-href="/kush-team/ember-cli-to-wp-theme/stargazers" data-count-api="/repos/kush-team/ember-cli-to-wp-theme#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star kush-team/ember-cli-to-wp-theme on GitHub">Star</a>
						</div>
			 		</div>
			 	</div>
				<div class="item">
					<div class="image">
						<img src="http://kush-team.com.ar/wp-content/uploads/2016/07/kt-theme.png">
					</div>
					<div class="content">
						<a class="header"  target="_blank" href="http://theme.kush-team.com.ar/">Ember theme demo</a>
						<div class="meta">
							<a>status</a>
						</div>
						<div class="description">
							<p>Demo theme for ember-cli-to-wp-theme </p>
						</div>
						<div class="extra content">
							<a class="github-button" href="https://github.com/kush-team/ember-cli-to-wp-theme" data-icon="octicon-star" data-style="mega" data-count-href="/kush-team/ember-cli-to-wp-theme/stargazers" data-count-api="/repos/kush-team/ember-cli-to-wp-theme#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star kush-team/ember-cli-to-wp-theme on GitHub">Star</a>
						</div>
					</div>
				</div>
			</div>	
		</section>
		
		
		{{/perfect-scroll}}
	</div>
	
		<div class="flex-split -right">
			<article>
				<h1>One Team</h1>
				<p><b>Developers. Designers. Open Source Enthusiastic. Gamers.</b></p>
				<p>At almost every period and in almost every country private individuals have associated for the purpose of initiating desirable change and of working out for themselves a way to life superior to that of their contemporaries.
				</p>

				<p>In the preservation and development of civilization these groups of devoted individuals have played a very important part and are destined to play a part no less important in the future.</p>
			</article>
			<footer>
				<h4>Help mantain this projects</h4>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="PXH22ME7M7CVA">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
				</form>
			</footer>
		</div>
</div>