

<div class="main-container">

	<div class="flex-split -left">
		<header>
			{{header-svg class="hero-svg"}}
		</header>
		{{wp-menu items=model.items show=isShowMenu iShowMenu=isShowMenu}}
		
		{{#perfect-scroll}}
	
		<section>
			<h2 class="ui header">
				Contributions
			</h2>
			<div class="ui divided items">
				<div class="item">
					<div class="image">
						<img src="http://kush-team.com.ar/wp-content/uploads/2016/07/addon-logo.png">
					</div>
					<div class="content">
						<a class="header"  target="_blank" href="https://github.com/kush-team/ember-cli-to-wp-theme">ember-cli-to-wp-theme</a>
						<div class="meta">
							<a>status</a>
						</div>
						<div class="description">
							<p>Ember addon for creating ambitious web apps with a Wordpress backend</p>
						</div>
						<div class="extra content">
							<a class="github-button" href="https://github.com/kush-team/ember-cli-to-wp-theme" data-icon="octicon-star" data-style="mega" data-count-href="/kush-team/ember-cli-to-wp-theme/stargazers" data-count-api="/repos/kush-team/ember-cli-to-wp-theme#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star kush-team/ember-cli-to-wp-theme on GitHub">Star</a>
						</div>
			 		</div>
			 	</div>
				<div class="item">
					<div class="image">
						<img src="http://kush-team.com.ar/wp-content/uploads/2016/07/kt-theme.png">
					</div>
					<div class="content">
						<a class="header"  target="_blank" href="http://theme.kush-team.com.ar/">Ember theme demo</a>
						<div class="meta">
							<a>status</a>
						</div>
						<div class="description">
							<p>Demo theme for ember-cli-to-wp-theme </p>
						</div>
						<div class="extra content">
							<a class="github-button" href="https://github.com/kush-team/ember-cli-to-wp-theme" data-icon="octicon-star" data-style="mega" data-count-href="/kush-team/ember-cli-to-wp-theme/stargazers" data-count-api="/repos/kush-team/ember-cli-to-wp-theme#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star kush-team/ember-cli-to-wp-theme on GitHub">Star</a>
						</div>
					</div>
				</div>
			</div>	
		</section>
		
		
		{{/perfect-scroll}}
	</div>
	
		<div class="flex-split -right">
			{{outlet}}
		</div>
</div>
