<article>
	<h1>One Team</h1>
	<p><b>Developers. Designers. Open Source Enthusiastic. Gamers.</b></p>
	<p>At almost every period and in almost every country private individuals have associated for the purpose of initiating desirable change and of working out for themselves a way to life superior to that of their contemporaries.
	</p>

	<p>In the preservation and development of civilization these groups of devoted individuals have played a very important part and are destined to play a part no less important in the future.</p>
</article>
<footer>
	<h4>Help mantain this projects</h4>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="PXH22ME7M7CVA">
	<button type="submit" class="ui button">Make a donation</button>
	</form>
</footer>